*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient( #3285A6, #49C2F2, #3285A6);
    height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}