*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient( #3285A6, #49C2F2, #3285A6);
    height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #1F5266;
    z-index: -1;
    transition: transform .3s ease;
  }
  
  h1 {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    font-size: 5rem;
  }